@font-face {
  font-family: 'StratosSkyeng';
  src: url('../../shared/assets/fonts/Stratos-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: url('../../shared/assets/fonts/Stratos-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: url('../../shared/assets/fonts/Stratos-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: url('../../shared/assets/fonts/Stratos-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'StratosSkyeng', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'StratosSkyeng', sans-serif;
}
