.header {
  background-color: #ffffff;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: opacity 0.2s;
}

.logo:hover {
  opacity: 0.8;
}

.logoContainer {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.logoIcon {
  width: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* height: auto; */
  /* display: block; */
}

.logoText {
  width: 182px;
  position: relative;
  top: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* width: 182.96px;
  height: 28.56px; */
  display: block;
}
.logoDescription {
  font-size: 16px;
  color: #555;
  font-weight: 400;
  opacity: 0.5;
}

.nav {
  display: flex;
  gap: 24px;
}

.navLink {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s;
}

.navLink:hover {
  color: #b8f33f;
}

.actions {
  display: flex;
  align-items: center;
}
