.card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 500px;
  min-width: 360px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  position: relative;
  height: 325px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  background-size: 20%;
}

.card:hover .image {
  transform: scale(1.05);
}

.addButton {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  color: #1a1a1a;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.2s,
    transform 0.2s;
}

.addButton:hover {
  color: #000;
  transform: rotate(90deg);
}

.content {
  padding: 24px 30px 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  color: #1a1a1a;
  margin: 0 0 20px 0;
  font-family: 'StratosSkyeng', sans-serif;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 6px;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #666;
}

.icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  display: block;
}

.footer {
  margin-top: auto;
}

.difficultyContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bars {
  display: flex;
  gap: 1px;
  align-items: flex-end;
  height: 12.75px;
}

.bar {
  width: 2.25px;
  background-color: #d9d9d9;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.bar:nth-child(1) {
  height: 3.75px;
}

.bar:nth-child(2) {
  height: 6px;
}

.bar:nth-child(3) {
  height: 8.25px;
}

.bar:nth-child(4) {
  height: 10.5px;
}

.bar:nth-child(5) {
  height: 12.75px;
}

.bar.active {
  background-color: #00c1ff;
}

.difficultyText {
  font-size: 14px;
  color: #888;
  font-weight: 500;
  white-space: nowrap;
  display: inline-flex;
}

.placeholderImage {
  height: 360px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.wrappbackground {
  display: inline-flex;
  border-radius: 50px;
  background-color: #f7f7f7;
  padding: 10px;
}
